body {
    display: flex; 
    justify-content: center;
    align-content: center;
}

.gameBoard {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 450px;  
    margin-top: 15vh; 
}

.gameSquare {
    border: 2px inset #000;
    display: flex;
    flex-wrap: wrap; 
    transition: 0.2s;
    height: 50px; 
    width: 50px; 
    position: relative;
    background-color: #dcb35c; 
}

.gameSquare > div {
    width: 25px; 
    height: 25px; 
    transition: 0.2s;
    position: absolute; 
    z-index: 10; 
}

.gameSquare > div:hover {
    background-color: #000; 
    cursor: pointer; 
}

.topLeft {
    top: -25%; 
    left: -25%; 
}

.topRight {
    top: -25%; 
    left: 75%; 
}

.bottomLeft {
    top:  75%; 
    left: -25%; 
}

.bottomRight {

    top: 75%; 
    left: 75%; 
}

